$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin full-screen ( $position: relative ) {
	@if $position == 'absolute' {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	} @else {
		width: 100%;
		height: auto;
	}
}

@mixin page( $index: 1 ) {
	background-image: url('../images/page' + $index + '-bgi.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}

.en {
	font-family: 'Consolas';
}

//页面背景图片设置
body {
	font-family: 'Microsoft Yahei';
	font-size: 18px;
}

#page1 {
	@include page(1);
}

#page2 {
	@include page(2);
}

#page3 {
	@include page(3);
}

#page4 {
	@include page(4);
}

#page5 {
	@include page(5);
}

.fp-controlArrow.fp-prev {
	left: 4%;
}

.fp-controlArrow.fp-next {
	right: 4%;
}

//页面样式

.intro {
	margin-top: 50px;
}

.intro-bg {
	background-color: #999;
	opacity: .7;
	border-radius: 10px;
	padding: 15px;
}

.intro-item {
	padding: 10px;
	margin: 0 10px;
	border-bottom: 1px solid #666;
	opacity: 0;

	.icon {
		padding-left: 10px;
	}

	.content{
		display: block;
		padding-top: 5px;
		color: #000;
	}

	a:hover, a:focus {
		text-decoration: none;
	}
}

.intro-item-first {
	padding-top: 0;
}

.intro-item-last {
	border-bottom: none;
	padding-bottom: 0;
}

.inline {
	display: inline-block;
}

span {
	em {
		color: #999;
		padding-left: 10px;
	}
}

.colorful-hr {
	margin-top: 0;
	border-top: .5px solid #337ab7;
}

#intro-group1 {

}

.item-link {
	position: absolute;
	top: 0;
}

.item-hover {
	margin-bottom: 20px;
}

#intro-group2 {
	position: absolute;
	top: 20%;
	left: 100%;
}

li {
	line-height: 2em;
}

#home, #profile, #messages, #taobao {
	margin-top: 5%;
}

#preview {
	width: 100%;
	font-size: 1.5em;
}

#shop {
	width: 100%;
	font-size: 1.5em;
}